

.height-100 {
  height: 100vh
}

.card {
  width: 100%;
  border: none;
  height: 250px;
  max-width: 380px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor:pointer;
  justify-content: center;
  transition: all ease 0.4s
}

.card img {
  transition: all ease 0.4s
}

.card:hover img {
  margin-top: -80px
}

.card .content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: -60%;
  margin-left: -8px;
  transition: all ease 0.5s;
  border-radius: 4px;
  box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
}

.card .content .category {
  font-size: 17px;
  font-weight: 600
}

.card .content .price {
  font-size: 17px;
  font-weight: 500;
  color: #000000
}

.card .content p {
  font-weight: 500;
  font-size: 12px
}

.card:hover .content {
  bottom: 0%
}

.buttons button {
  border-radius: 1px;
  margin-bottom: 10px;
  transition: all ease 0.3s
}

.content {
  padding: 10px
}


/*  */
.card-details {
  color: #000000
}

.hover {
  --c:linear-gradient(#000 0 0); /* update the color here */
  
  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

.hover:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
  color: rgb(238, 12, 12)
}








